/* Responsive CSS file styles defined for smaller width devices */
/* CSS for tablet devices */
:root {
	--text-color: hsl(230 16% 28%);

	--header-bg: hsl(0 0% 100% / 75%);

	--section: hsl(0 0% 93%);
	--section-even: hsl(210deg 15% 92%);

	--red: hsl(10 83% 52%);
	--green: hsl(157 91% 43%);
	--blue: hsl(210 100% 45%);
	--purple: hsl(266 100% 67%);
	--yellow: hsl(49 100% 73%);
	--black: hsl(0 0% 0%);

	--cubic: cubic-bezier(0.25, 0.1, 0, 2.05);
}

@media screen and (min-width: 576px) and (max-width: 820px) { 
	.hamburger { 
		display: block; 
		padding: 0 3rem; 
	} 

	.menu { 
		position: absolute; 
		right: 0; 
		padding: 0 3rem; 
		top: 75px; 
		background-image: linear-gradient(180deg, #74D7BB, #53C8B6, #35A99C); 
		display: none; 
		transition: all 0.25s; 
	} 

	.menu .menu-list { 
		flex-direction: column; 
	} 

	.portfolio { 
		padding: 0; 
	} 

	.about { 
		flex-direction: column; 
	} 

	.about .about-text { 
		padding: 2rem; 
	} 

	.about .about-image img { 
		padding: 2rem; 
	} 

	.scroll{
		display: none;
	}

	.ui-page {
		& h2{
			font-size: 50px;
		}
		& h1{
			font-size: 24px;
		}
	}

	.preview {
		.img{
			display:none;
		}
	}

	section {
		width: 100%;
		overflow-y: scroll;
	}

	.headings{
		& h1 {
			font-size: 30px;
		}
		& h4 {
			font-size: 14px;
		}
	}

	.dashboard {
		& h2 { 
			font-size: 35px; 
		} 
	}
}


/* CSS for mobile devices */
@media screen and (min-width: 280px) and (max-width: 576px) { 
	.dashboard {
		& h2 { 
			font-size: 35px; 
		} 
	}
	  
	section {
		width: 100%;
		overflow-y: scroll;
	}

	.preview {
		.img{	
			display:none;
		}
	}

	.headings {
		& h1{
			grid-row-end: 1;
			animation: scale-up linear;
			animation-timeline: var(--name);
			animation-range: entry-crossing 70% exit 90%, exit 10% exit 70%;
			margin-bottom: 1px;
			font-size: 30px;
		}
		& h4 {
			font-size: 14px;
		}
	}

	@keyframes scale-up {
		100% {
			top: 0;
			scale: 5;
		}
	}

	@keyframes fade-away {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	.heading {
		& h2{
			font-size: 50px;
		} 
	}

	.ui-page {
		/* & h2{
			font-size: 50px;
		} */
		& h1{
			font-size: 24px;
		}
	}
	
	body {
		&:has(input[id="burger"]:checked) {
			scrollbar-gutter: stable;
			overflow-y: hidden;
		}
	}

	header {
		--position: absolute;
		--translateY: -100%;
		--show: block;

		& nav {
			top: 0;
			translate: 0 var(--translateY);

			inline-size: 100%;
			block-size: 100dvh;
			padding-inline: 1rem;
			transition: all 200ms ease-in-out;

			& ul {
				block-size: 100%;
				flex-direction: column;
				justify-content: space-evenly;
			}
		}

		& .menu {
			&:has(input[type="checkbox"]:checked) {
				& ~ nav {
					--translateY: 0;
				}
			}
		}
	} 

	section {
		width: 100%;
	}
	
	.btn { 
		padding: 10px 30px; 
	} 

	.portfolio { 
		padding: 0; 
	} 

	.about { 
		flex-direction: column; 
	} 

	.about .about-text { 
		width: 90%; 
		padding: 1rem; 
	} 

	.about .about-image img { 
		width: 90%; 
		padding: 1rem; 
	} 

	.contact { 
		padding: 0; 
	} 

	.contact-details { 
		width: 80%; 
	} 

	.scroll{
		display: none;
	}

	.btn-footer{
		padding:10px 10px ;
	}
}
